<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>crlArticulos</servlet-name>
        <servlet-class>com.project.control.crlArticulos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crlCarrito</servlet-name>
        <servlet-class>com.project.control.crlCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crlCategorias</servlet-name>
        <servlet-class>com.project.control.crlCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crlClientes</servlet-name>
        <servlet-class>com.project.control.crlClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crlDirecciones</servlet-name>
        <servlet-class>com.project.control.crlDirecciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crlEmpleados</servlet-name>
        <servlet-class>com.project.control.crlEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crlEnvios</servlet-name>
        <servlet-class>com.project.control.crlEnvios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crlExistencias</servlet-name>
        <servlet-class>com.project.control.crlExistencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crlIngresos</servlet-name>
        <servlet-class>com.project.control.crlIngresos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crlProveedores</servlet-name>
        <servlet-class>com.project.control.crlProveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crlReservas</servlet-name>
        <servlet-class>com.project.control.crlReservas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crlSubcategorias</servlet-name>
        <servlet-class>com.project.control.crlSubcategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crlUsuario</servlet-name>
        <servlet-class>com.project.control.crlUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crlVentas</servlet-name>
        <servlet-class>com.project.control.crlVentas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crlArticulos</servlet-name>
        <url-pattern>/crlArticulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crlCarrito</servlet-name>
        <url-pattern>/crlCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crlCategorias</servlet-name>
        <url-pattern>/crlCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crlClientes</servlet-name>
        <url-pattern>/crlClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crlDirecciones</servlet-name>
        <url-pattern>/crlDirecciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crlEmpleados</servlet-name>
        <url-pattern>/crlEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crlEnvios</servlet-name>
        <url-pattern>/crlEnvios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crlExistencias</servlet-name>
        <url-pattern>/crlExistencias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crlIngresos</servlet-name>
        <url-pattern>/crlIngresos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crlProveedores</servlet-name>
        <url-pattern>/crlProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crlReservas</servlet-name>
        <url-pattern>/crlReservas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crlSubcategorias</servlet-name>
        <url-pattern>/crlSubcategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crlUsuario</servlet-name>
        <url-pattern>/crlUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crlVentas</servlet-name>
        <url-pattern>/crlVentas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
